In [1]:
 import pandas as pd
 import numpy as np
 from __future__ import division

In [2]:
dfSurblData = pd.read_csv("/Users/maarten/sidn/development/sadag/surbl/surbl-registrar-registrarcountry-createdate.csv",
                       header=None, names=["domain","registrar","country","created","reported"])

In [3]:
dfSurblData.head()

,domain,registrar,country,created,reported
0,0-0-0-0-0-0-0-0-0-0-0-0-0-1-0-0-0-0-0-0-0-0-0-...,gandi sas (r191-lrms),France,2013-05-11,2014-07-03
1,0-0-0-0-0-0-0-0-0-0-0-0-0-10-0-0-0-0-0-0-0-0-0...,gandi sas (r191-lrms),France,2013-05-11,2014-07-02
2,0-0-0-0-0-0-0-0-0-0-0-0-0-11-0-0-0-0-0-0-0-0-0...,gandi sas (r191-lrms),France,2013-05-11,2014-07-03
3,0-0-0-0-0-0-0-0-0-0-0-0-0-12-0-0-0-0-0-0-0-0-0...,gandi sas (r191-lrms),France,2013-05-11,2014-07-03
4,0-0-0-0-0-0-0-0-0-0-0-0-0-13-0-0-0-0-0-0-0-0-0...,gandi sas (r191-lrms),France,2013-05-11,2014-07-02

In [8]:
dfGrouped = dfSurblData.groupby("country").count().sort_values("domain", ascending=False)

In [10]:
dfGrouped["ratio"] = (dfGrouped["domain"] / len(dfSurblData)) * 100.0

In [11]:
dfGrouped

                       domain  registrar  created  reported      ratio
country
United States         2081854    2081854  2075192   2081854  38.693287
Japan                 1342767    1342767  1340819   1342767  24.956634
Gibraltar              589003     589003   588067    589003  10.947195
China                  538327     538327   537481    538327  10.005332
India                  284094     284094   283297    284094   5.280164
Germany                 66721      66721    66535     66721   1.240075
Ireland                 58218      58218    58214     58218   1.082038
Canada                  53475      53475    53248     53475   0.993885
United Kingdom          51716      51716    51584     51716   0.961192
Cayman Islands          48093      48093    48081     48093   0.893855
Australia               39575      39575    36710     39575   0.735540
Turkey                  33856      33856    33767     33856   0.629247
Bahamas                 33226      33226    33170     33226   0.617538
United Arab Emirates    18159      18159    18149     18159   0.337503
Hong Kong               15956      15956    15916     15956   0.296558
Russian Federation      10148      10148    10099     10148   0.188610
Malaysia                10136      10136    10114     10136   0.188387
France                  10006      10006     9974     10006   0.185971
Singapore                8489       8489     8453      8489   0.157776
Spain                    7659       7659     7561      7659   0.142350
Netherlands              6987       6987     6972      6987   0.129860
Ukraine                  6140       6140     6117      6140   0.114118
Israel                   5146       5146     5143      5146   0.095643
Indonesia                3970       3970     3959      3970   0.073786
Czech Republic           3528       3528     3518      3528   0.065571
Pakistan                 3228       3228     3223      3228   0.059996
Denmark                  3080       3080     3060      3080   0.057245
Korea (South)            2902       2902     2889      2902   0.053937
Italy                    2486       2486     2482      2486   0.046205
Vietnam                  1714       1714     1710      1714   0.031856
...                       ...        ...      ...       ...        ...
Monaco                    690        690      686       690   0.012824
Lithuania                 681        681      681       681   0.012657
Luxembourg                582        582      579       582   0.010817
Sweden                    496        496      494       496   0.009219
South Africa              394        394      393       394   0.007323
Poland                    363        363      363       363   0.006747
Norway                    221        221      221       221   0.004108
Burundi                   193        193      193       193   0.003587
Barbados                  181        181      181       181   0.003364
Taiwan                    154        154      153       154   0.002862
Belgium                   148        148      148       148   0.002751
Greece                    139        139      139       139   0.002583
Philippines               126        126      126       126   0.002342
Austria                   120        120      120       120   0.002230
Senegal                   113        113      112       113   0.002100
Nigeria                    99         99       99        99   0.001840
Morocco                    88         88       88        88   0.001636
Hungary                    57         57       57        57   0.001059
United State               53         53       53        53   0.000985
Thailand                   46         46       46        46   0.000855
New Zealand                23         23       23        23   0.000427
Switzerland                20         20       20        20   0.000372
Jordan                     15         15       15        15   0.000279
United United States       14         14       14        14   0.000260
Kuwait                      9          9        9         9   0.000167
Ghana                       9          9        9         9   0.000167
Costa Rica                  4          4        4         4   0.000074
Honduras                    4          4        4         4   0.000074
Finland                     1          1        1         1   0.000019
Latvia                      1          1        1         1   0.000019

[64 rows x 5 columns]