In [1]:
import pandas as pd

In [49]:
pdPeriods = pd.read_csv('../../data/sunrise-ga/sunrise_periods.csv', index_col=0, parse_dates=[2,3])

In [50]:
pdPeriods = pdPeriods.sort_values(by=['open','close'])
pdPeriods.head()

             Sunrise (Start/End Date Sunrise)       open      close
tld
xn--ngbc5azd                 End Date Sunrise 2013-10-31 2013-12-29
singles                      End Date Sunrise 2013-11-26 2014-01-25
holdings                     End Date Sunrise 2013-11-26 2014-01-25
guru                         End Date Sunrise 2013-11-26 2014-01-25
clothing                     End Date Sunrise 2013-11-26 2014-01-25

In [51]:
pdPeriods[pdPeriods.index == 'amsterdam']

          Sunrise (Start/End Date Sunrise)       open      close
tld
amsterdam               Start Date Sunrise 2015-04-28 2015-05-28